.vs/
obj/
bin/
/.idea/.idea.FauxHollowsSolver/.idea/.gitignore
/.idea/.idea.FauxHollowsSolver/.idea/.name
/.idea/.idea.FauxHollowsSolver/.idea/encodings.xml
/.idea/.idea.FauxHollowsSolver/.idea/indexLayout.xml
/.idea/.idea.FauxHollowsSolver/.idea/vcs.xml
